/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  /*
  width: 800px;
  */
  width: auto;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Faster One', cursive;
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}

table {
  width: auto;
  height: auto;
  border-collapse: collapse;
}

th {
  width: auto;
  height: auto;
  border: 1px;
  border-style: solid;
}
tr {
  width: auto;
  height: auto;
}
td {
  width: auto;
  height: auto;
  border: 1px;
  border-style: solid;
}
.icon {
width: 75px;
height: 75px;
border-radius: 100%;
}